<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base target="_blank" />
    <title>七牛Atlab-现场分析系统</title>
    <link rel="stylesheet" href="./stylesheet/common.css">
    <link rel="stylesheet" href="./stylesheet/layout.css">
    <link rel="stylesheet" href="./stylesheet/home.css">
</head>
<body>
    <header>
        <div>
            <img src="/imgs/qiniulogo.png" alt="">
            <p>七牛Atlab-现场分析系统</p>
        </div>
        <div id="navbar"></div>
    </header>
    
    <section>
        <div id="wxb_home_leftpanel">
            <div id="wxb_home_taskpool"></div>
        </div>
        <div id="wxb_home_middlepanel">
            <div id="wxb_home_taskinfo"></div>
        </div>
    </section>


    <footer>
        <p>@copy right reserved by Qiniu</p>
    </footer>

    <div id="wxb_list_modal_detail_trace" class="component-hidden">
        <div id="tracemap" style="height: 80vh; width: 80vw;"></div>
    </div>

    <script src="./javascript/echarts.min.js"></script>
    <script src="./javascript/config.js"></script>
    <script src="./javascript/home.js"></script>

</body>
</html>