section {
    // background: #0f3f5c;
    background: #38285d;
    color: white;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 3rem 0;

        &:first-child {
            justify-content: center;
            button {
                margin: 2rem;
            }
        }

        table {
            border-collapse: collapse;
            td,th {
                border: 1px solid white;
                padding: .5rem 1rem;
            }
        }
    }
}

#wxb_home_leftpanel {
    width: 30vw;
    #wxb_home_taskpool {
        width: 30vw;
        height: 30vw;
    }
}

#wxb_home_middlepanel {
    width: 30vw;
    #wxb_home_taskinfo {
        width: 30vw;
        height: 30vw;
    }
}

#wxb_home_rightpanel {
    width: 30vw;
    #wxb_home_taskmeta {
        width: 30vw;
        height: 30vw;
    }

}
